/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    padding: 10px 20px;
    height: fit-content;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

ul {
    list-style: none;
    font-weight: 700;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .2rem 0;
    font-weight: 300;
}

ul li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-text {
    width: 90%;
    margin: 20px auto;
}

.hero-text h1 {
    font-size: 24px;
    color: #333;
}

.hero-text p {
    font-size: 16px;
    color: #666;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.map {
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about p,
.contact p {
    font-size: 14px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    flex-basis: 100%;
    margin-bottom: 30px;
}

.menu-item h3 {
    text-align: start;
    margin-left: 20px;
}

.menu-item ul {
    padding-left: 20px;
}

.location h2,
.contact h2,
.instagram-feed h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    background: #d7d6d696;
    padding: 8px;
    border-radius: 12px;
}

form input,
form textarea {
    border: none;
    border-radius: 4px;
}

form button {
    padding: 8px;
    border-radius: 12px;
    background: white;
    border: none;
}

button:hover {
    background: black;
    color: #FFF;
    transition: all 0.3s ease;
}

.contact form {
    max-width: 400px;
    margin: 0 auto;
}

.contact form label,
.contact-info p {
    font-size: 14px;
}

.instagram-feed {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
}

.gallery {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    margin-top: 10px;
    border-radius: 16px;
    object-fit: cover;
}

.swiper-pagination.custom-pagination {
    position: absolute;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: -9px;
    left: -11px;
    z-index: 1000;
    color: white;
}

header {
    height: 40px;
}

.navbar {
    height: 100%;

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    z-index: 999;
}

.menu.active {
    left: 0;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu-web {
    display: none;
    height: fit-content;

}

.menu-web li {
    margin: 0;
}

.menu {
    display: none;
}

.menu.active {
    display: flex;
    flex-direction: column;
}

/* email */
.contact-form .submit-message {
    display: none;
    color: green;
}

/* Swiper gallery */
.gallery {
    width: 100%;
    margin-top: 20px;
}

.gallery .swiper-slide img {

    border-radius: 50%;
    width: 100%;
    height: 90%;
    /* Define a altura das imagens */
    object-fit: cover;
    /* Garante que as imagens cubram a área especificada */
}

.about {
    display: flex;
    flex-direction: row-reverse;
}

.container-about {
    flex-direction: row;
}

.chef {
    display: none;
}

footer {
    padding: 20px 0;
    text-align: center;
}

.footer-nav {
    margin-bottom: 10px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    text-decoration: none;
    color: white;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.carousel-item{
    height: 213px;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
}
/* Media query para tablets e computadores */
@media only screen and (min-width: 768px) {
    .carousel-item{
        height: 350px;
        text-align: center;
    }
    .carousel-item img{
        object-fit: cover;
        text-align: center;
    }
    
    
    section,
    nav,
    .hero-text {
        width: 80%;
        margin: 0 auto;
    }
    .hero-text {
        margin-top: 2em;
    }

    .gallery {
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .gallery img {
        width: 30%;
        /* Ajuste conforme necessário */
        margin: 10px;
        /* Adicione margem entre as imagens */
    }

    .gallery .swiper-slide img {
        border-radius: 12px;
    }

    #carouselIvan {
        display: none;
    }

    .chef {
        display: flex;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 12px;
    }

    .location,
    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .location,
    .contact {
        width: calc(50% - 15px);
        /* Calcule a largura de duas colunas com uma margem de 15px entre elas */
        margin-bottom: 30px;
        /* Adicione margem entre as seções */
    }

    .uni {
        display: flex;
        flex-direction: row;
    }

    .menu-toggle {
        display: none;
    }

    .menu-web {
        display: flex;
        cursor: pointer;
        color: white;
        gap: 3rem;
        height: 100%;
        align-items: center;
    }
}